<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="/static/FULL_LANDING/favicon.png">
  <title>about</title>
  <meta name="author" content="">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/theme.css" type="text/css"> </head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <div class="container">
      <a class="navbar-brand" href="#"><b><img src="/static/FULL_LANDING/icono.png" width="30" height="30" class="d-inline-block align-top" alt="">&nbsp;&gt;IT/DOJO</b></a>
      <a class="navbar-brand" href="#"><b></b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav" style="opacity: 0.5;">
          <li class="nav-item">
            <a class="nav-link" href="#features"> Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#hiw"> How it Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About Us</a>
          </li>
        </ul>
        <a class="btn navbar-btn ml-2 text-white btn-secondary"><i class="fa d-inline fa-lg fa-user-circle-o"></i> Sign in</a>
      </div>
    </div>
  </nav>
  <div class="text-center p-4" style="background-image: url('/static/FULL_LANDING/image_landing2.png');background-repeat:no-repeat;background-size:cover;">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid d-block" src="/static/FULL_LANDING/LANDING_DEFINITIVO.png"> </div>
        <div class="col-md-6">
          <h1 class="text-light text-center p-2">TRUST THE FACTS</h1>
          <p class="text-light text-center p-3 m-2">Don't trust resumes, put to the knowledge to the edge.
            <br>&gt;IT/DOJO allows you to evaluate the performance of candidates&nbsp;against real situations. Test the proficiency
            <br>level of the most used technologies for
        </div>
      </div>
    </div>
  </div>
  <div id="features" class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-calendar"></i></div>
            <div class="col-8">
              <h5 class="mb-3 text-primary"><b>Scheduled Interviews</b></h5>
              <p class="my-1">You choose when tests should be done.
                <br>Set the time that best suits you, the candidate will be informed automatically.</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-sliders"></i></div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">&nbsp;Set the Seniority</h5>
              <p class="my-1">For each test select the level of experience you need, Junior, Semi Senior and Senior, this allows you to improve your matches.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-bar-chart"></i></div>
            <div class="col-8">
              <h5 class="mb-3 text-primary"><b>Full Analisys</b></h5>
              <p class="my-1">Receive a detailed description of the performance in the test and a comparation chart of the candidates for the same position.&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="py-5 col-md-6">
          <div class="row">
            <div class="text-center col-4"><i class="d-block mx-auto fa fa-5x fa-arrows"></i></div>
            <div class="col-8">
              <h5 class="mb-3 text-primary">&nbsp;Accessible Information</h5>
              <p class="my-1">Exports all the information to fill reports, finish processes or future recruitments. Access your information or delete it easily.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="hiw" class="p-5 text-center text-white bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-4"><b>HOW IT WORKS</b></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div id="carouselArchitecture" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselArchitecture" data-slide-to="0" class="active"><i></i></li>
              <li data-target="#carouselArchitecture" data-slide-to="1"><i></i></li>
              <li data-target="#carouselArchitecture" data-slide-to="2"><i></i></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <img class="d-block img-fluid" src="/static/FULL_LANDING/slide1.png" data-holder-rendered="true">
                <div class="carousel-caption">
                  <p class="text-right">Start your process by selecting&nbsp;
                    <br>the&nbsp;position&nbsp;you are going to test.
                    <br>There are a description for each one.</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="/static/FULL_LANDING/slide2.png" data-holder-rendered="true">
                <div class="carousel-caption">
                  <p class="text-right">The test will be done the day and time&nbsp;
                    <br>you set in the form, just wait for the results.
                    <br> </p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid" src="/static/FULL_LANDING/slide3.png" data-holder-rendered="true">
                <div class="carousel-caption">
                  <p class="text-right">Recieve a full analysis of the performance
                    <br>in an individal profile for each candidate
                    <br>and a comparison table with the results of all.&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center mb-5 text-secondary">TECHNOLOGIES YOU CAN TEST</h1>
        </div>
      </div>
      <div class="row">
        <div class="p-0 col-md-2 col-6">
          <a href="stories.html">
            <img src="/static/FULL_LANDING/jenk1.png" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="stories.html">
            <img src="/static/FULL_LANDING/git1.png" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="stories.html">
            <img src="/static/FULL_LANDING/nexus1.png" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="stories.html">
            <img src="/static/FULL_LANDING/spunk1.png" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="stories.html">
            <img src="/static/FULL_LANDING/sonar1.png" class="img-fluid"> </a>
        </div>
        <div class="p-0 col-md-2 col-6">
          <a href="stories.html">
            <img src="/static/FULL_LANDING/terra1.png" class="img-fluid"> </a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-white bg-primary text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Try it for free</h1>
          <p class="lead mb-4">Start testing with real job situations&nbsp;</p>
          <form class="form-inline justify-content-center">
            <button href="https://it-dojo.io/index" type="submit" class="btn btn-secondary">Start</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="p-5 text-center bg-secondary">
    <div id="pricing" class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card p-5 m-1">
            <div class="card-block">
              <p class="lead"><i>Junior</i></p>
            </div>
            <div class="card-block my-3">
              <h1><b>$10</b></h1>
              <p>StartUps n freelancers</p>
              <hr>
              <p><b>10</b> pages</p>
              <hr>
              <p><b>1</b> month support</p>
              <hr>
              <p><b>1</b>&nbsp;account seats</p>
              <hr>
              <p><b>10 GB</b> space</p>
            </div>
            <div class="card-block">
              <a href="#" class="btn btn-secondary">Start now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card p-5 m-1">
            <div class="card-block">
              <p class="lead"><i>Pro</i></p>
            </div>
            <div class="card-block my-3">
              <h1><b>$20</b></h1>
              <p>Bigger teams</p>
              <hr>
              <p><b>50</b> pages</p>
              <hr>
              <p><b>3</b> month support</p>
              <hr>
              <p><b>10</b>&nbsp;account seats</p>
              <hr>
              <p><b>15 GB</b> space</p>
            </div>
            <div class="card-block">
              <a href="#" class="btn btn-secondary">Start now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-primary p-5 m-1 text-white">
            <div class="card-block">
              <p class="lead"><i>Premium</i></p>
            </div>
            <div class="card-block my-3">
              <h1><b>$50</b></h1>
              <p>Enterprice</p>
              <hr>
              <p><b>200</b> pages</p>
              <hr>
              <p><b>10</b> month support</p>
              <hr>
              <p><b>30</b>&nbsp;account seats</p>
              <hr>
              <p><b>30 GB</b> space</p>
            </div>
            <div class="card-block">
              <a href="#" class="btn btn-light">Start now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="py-5 text-center bg-light">
    <div id="about" class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>OUR TEAM</h1>
          <p class="lead">We grow together with the community</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 p-4">
          <img class="img-fluid d-block rounded-circle mx-auto" src="/static/FULL_LANDING/javier.png">
          <p class="my-4"><i>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</i></p>
          <p><b>Meow</b>
            <br>Senior developer</p>
        </div>
        <div class="col-md-4 p-4">
          <img class="img-fluid d-block rounded-circle mx-auto" src="/static/FULL_LANDING/IMG_20170831_005654.jpg">
          <p class="my-4"><i>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec. </i></p>
          <p><b>J.C. Guerrero</b>
            <br>UI designer</p>
        </div>
        <div class="col-md-4 p-4">
          <img class="img-fluid d-block rounded-circle mx-auto" src="/static/FULL_LANDING/marina.png">
          <p class="my-4"><i>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Cum sociis natoque penatibus et magnis dis parturient montes.</i></p>
          <p><b>Carlito</b>
            <br>Boss</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-primary text-white" style="background-image: url('/static/FULL_LANDING/image_landing2.png');background-size:cover;background-repeat:no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img class="img-fluid d-block" src="/static/FULL_LANDING/joinustest.png"> </div>
        <div class="col-md-6">
          <h1>Join us</h1>
          <p>We are constantly updating.</p>
          <form>
            <div class="form-group"> <label for="InputName">Your name</label>
              <input type="text" class="form-control" id="InputName" placeholder="Your name"> </div>
            <div class="form-group"> <label for="InputEmail1">Email address</label>
              <input type="email" class="form-control" id="InputEmail1" placeholder="Enter email"> </div>
            <div class="form-group"> <label for="Textarea">Write here</label> <textarea class="form-control" id="Textarea" rows="3" placeholder="Type here"></textarea> </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-primary">&gt;IT/DOJO</h2>
          <p class="text-white">We are here to help you take the right choice.</p>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-primary">Mapsite</h2>
          <ul class="list-unstyled">
            <a href="#" class="text-white">Features</a>
            <br>
            <a href="#" class="text-white">How it Works</a>
            <br>
            <a href="#" class="text-white">Pricing</a>
            <br>
            <a href="#" class="text-white">About Us</a>
          </ul>
        </div>
        <div class="p-4 col-md-3">
          <h2 class="mb-4 text-primary">Contact</h2>
          <p class="text-light">
            <a href="tel:+246 - 542 550 5462" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-phone"></i>+52- 5</a>57197 1539</p>
          <p class="text-primary">
            <a href="mailto:info@it-dojo.io" class="text-white"><i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@itdojo.com</a>
          </p>
          <p>
            <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>1</a>87 Superior
            <br>&nbsp; &nbsp; &nbsp; &nbsp;Pto. Vallarta, México.</p>
        </div>
        <div class="p-4 col-md-3">
          <img class="img-fluid d-block mx-auto" src="/static/FULL_LANDING/logostest2.png"> </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">Design by <i>MANGO</i></p>
        </div>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>