<html>
  <head>
    {% include "meta.html" %}
    <title>IT/DOJO</title>
    <style>
      body {
        background-image: url("/static/images/background_index.png") ;
        background-size: cover;
        opacity: 1;
      }
    </style>
  </head>

  <body style="zoom: 90%;" >
  <!--________________________________________[ CONTENT  ] -->
  <div class="container-fluid" style="width: 1100px; margin: 0 auto">
    <div class="row" >
    </div>

    <div class="row-fixed">
      <div class="col-md-8">
        <div class="container">
          <div class="row" style="padding: 10% 0% 0% 0%;">
            <img src="/static/images/lpw.png" alt="">
          </div>
          <div class="row">
            <p class="lead"  style="color:white;text-shadow: 4px 3px 5px black" >The place where you can build <br> trusful and authentic partners </p>
            <a href="#more"> LEARN MORE </a>
          </div>
        </div>
      </div>

      <!--____________________________________[ RECOVER ] -->
      <div class="col-md-4">
        <div class="row" style="padding: 20% 30%;">
          <div class="wrapper-page"><img href="" src="/static/images/LOGO.png" class="img-responsive center-block" ></img></div>
        </div>
        <div class="row">
          <!-- Begin page -->
          <div class="wrapper-page">
            <div class="panel panel-color panel-primary panel-pages">
              <div class="panel-body">
                <h4 class="text-muted text-center m-t-0"><b>Recover Account</b></h4>


                <form class="form-horizontal col-md-offset-1" role="form" method="post" name="recover">
                  {{ recover_form.csrf_token }}
                  <div class="form-group">
                    <div class="col-xs-12">
                      {{ recover_form.email(class="form-control", type="email", required="", placeholder="Email")}}
                    </div>
                  </div>

                  <div class="form-group text-center m-t-40">
                    <div class="col-xs-12 ">
                      {{ recover_form.submit(class="btn btn-primary btn-block btn-lg ") }}
                    </div>
                  </div>
                </form>

              </div>
            </div>
          </div> <!--____________________________________[ /RECOVER ] -->
        </div> <!-- endrow -->
      </div>

    </div>
  </div>

  {% include "js.html" %}
  {% include "notification.html" %}
  </body>
</html>
